{% extends "base.html" %}

{% block content %}
<div>
  <h2>Project Time Spent Details</h2>
  <a href="{% url 'project_time_spent_new'%}" class="btn btn-primary btn-md pull-right">Add New Project Time</a>

</div>
<div style="margin-top:100px;" class="table-responsive">
  {% if object_list %}
  <table class="table table-striped ">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Started At</th>
        <th>Ended At</th>
        <th>Total hours</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for project_time_spent in object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'project_time_spent_detail' project_time_spent.id %}">{{ project_time_spent.project.name }}</a></td>
        <td>{{ project_time_spent.started_at }}</td>
        <td>{{ project_time_spent.ended_at }}</td>
        <td>{{ project_time_spent.hours_spent }}</td>
        <td><a href="{% url 'project_time_spent_edit' project_time_spent.id %}">Edit</a></td>
        <td><a href="{% url 'project_time_spent_delete' project_time_spent.id %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
    <p style="text-align: center;">No Daily Sprints Found</p>
  {% endif %}
</div>
{% endblock content %}

