{% extends "base.html" %}
{% block content %}
    <div>
        <h2>Reports</h2>
        <div class="row">
            <div class="col-sm-12">
                <h2> Clients </h2>
                  {% if context_dict.clients %}
                    <div class="row">
                        <a href="#" style="margin-left:10px" class="btn btn-primary btn-md pull-right" onclick="$('#reports').tableExport({type:'json',escape:'false'});">JSON</a>
                        <a href="#" style="margin-left:10px" class="btn btn-primary btn-md pull-right" onclick="$('#reports').tableExport({type:'xml',escape:'false'});">XML</a>
                        <a href="#" style="margin-left:10px" class="btn btn-primary btn-md pull-right" onclick="$('#reports').tableExport({type:'png',escape:'false'});">PNG</a>
                        <a href="#" style="margin-left:10px" class="btn btn-primary btn-md pull-right" onclick="$('#reports').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'});">PDF</a>
                        <a href="#" style="margin-left:10px" class="btn btn-primary btn-md pull-right" onclick="$('#reports').tableExport({type:'excel',escape:'false'});">XLS</a>
                    </div>
                        <div class="table-responsive">
                          <table id = "reports" class="table table-striped display" cellspacing="0" width="100%" >
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email Id </th>
                                <th>Projects </th>
                                <th>Total Projects</th>
                                <th>Total Hours </th>
                                <th>Total Cost</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for obj in context_dict.clients %}
                              <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ obj.name }}</td>
                                <td>{{ obj.email }}</td>
                                <td>
                                    <ol>
                                      {% for project in obj.project_details %}

                                        {% for key,value in project.items %}

                                        <li><a href = "{% url 'project_detail' key %}"> {{  value }} </a></li>
                                        {% endfor %}
                                      {% endfor %}
                                    </ol>
                                </td>
                                <td>{{ obj.no_of_projects }}</td>
                                <td>{{ obj.total_hours }}</td>
                                <td>{{ obj.total_cost }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                  {% else %}
                    <p style="text-align: center;">No Clients Found</p>
                  {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2> Projects </h2>
                  {% if context_dict.projects %}
                    <div class="row">
                        <a href="#" style="margin-left:10px" class="btn btn-primary btn-md pull-right" onclick="$('#reports').tableExport({type:'json',escape:'false'});">JSON</a>
                        <a href="#" style="margin-left:10px" class="btn btn-primary btn-md pull-right" onclick="$('#reports').tableExport({type:'xml',escape:'false'});">XML</a>
                        <a href="#" style="margin-left:10px" class="btn btn-primary btn-md pull-right" onclick="$('#reports').tableExport({type:'png',escape:'false'});">PNG</a>
                        <a href="#" style="margin-left:10px" class="btn btn-primary btn-md pull-right" onclick="$('#reports').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'});">PDF</a>
                        <a href="#" style="margin-left:10px" class="btn btn-primary btn-md pull-right" onclick="$('#reports').tableExport({type:'excel',escape:'false'});">XLS</a>
                    </div>
                        <div class="table-responsive">
                          <table id = "projects" class="table table-striped" >
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Client </th>
                                <th>Start Date </th>
                                <th>End Date</th>
                                <th>Cost per hour </th>
                                <th>Total hours </th>
                                <th>Total Cost</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for obj in context_dict.projects %}
                              <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ obj.name }}</td>
                                <td>{{ obj.client }}</td>
                                <td>{{ obj.start_date }}</td>
                                <td>{{ obj.end_date }}</td>
                                <td>{{ obj.cost_per_hour }}</td>
                                <td>{{ obj.total_hours }}</td>
                                <td>{{ obj.total_cost }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                  {% else %}
                    <p style="text-align: center;">No Projects Found</p>
                  {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}

{% block script%}
    $(document).ready(function(){
        $('table').dataTable({bFilter: false, bInfo: false});
        $('#reports').DataTable();
        $('#projects').DataTable();
    });
{% endblock script%}