{% extends "base.html" %}

{% block content %}
<h3>List of Companies </h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ company.name }}</td>
        <td>{{ company.description }}</td>
        <td><a href="{% url 'company_edit' company.id %}">Edit</a></td>
      </tr>

    </tbody>
  </table>
</div>
{% endblock content %}
